schema/stgpx-schema-1.0.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="https://www.w3schools.com"
           xmlns="https://www.w3schools.com"
           elementFormDefault="qualified">

<xs:element name="activity">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="gpx" type="xs:string"/>
      <xs:element name="started" type="xs:dateTime"/>
      <xs:element name="type" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>